@import '../../scss/configuration';


.favPage {
    margin: $margin-auto;
    background-color: $secondary-color;
}

@media screen and (max-width: $mq-mobile) {
    .favPage {
        width: $width-primary;
    } 
}

@media screen and (min-width: $mq-tablet){
    .favPage {
        width: $width-secondary;
    }
}

@media screen and (min-width: $mq-widescreen) {
    .favPage {
        width: $width-tertiary;
        padding: $padding-primary; 
    }
}