@import '../../scss/spacing';

.favPage__container {
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .favPage{
        width: 100%;
    } 
}

@media screen and (min-width: 1024px){
    .favPage {
        width: $width-primary;
    }
}

@media screen and (min-width: 1216px) {
    .favPage {
        width: $width-tertiary;
        padding: $padding-primary; 
        margin: $margin-auto;
    }
}