@media screen and (max-width: 768px){
    .Container-row {
        display: flex;
        flex-direction: row;
    }

    .Container-row--space-between {
        justify-content: space-between;
    }

    .Container-row--flex-end {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 769px){
    .Container-row {
        display: flex;
        flex-direction: row;
    }

    .Container-row--space-between {
        justify-content: space-between;
    }

    .Container-row--flex-end {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1216px){
    .Container-column {
        display: flex;
        flex-direction: column;
    }
    
    .Container--items-centered{
        align-items: center;
    }
    
}

@media screen and (min-width: 1408px){}