/*Gestaltung von <h> Elementen*/
.headline {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-block-start: 0;
    margin-block-end: 0;
}

.headline__primary {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10px;
}

.headline__secondary {
    font-size: 2.5rem;
    font-size: bold;
}

.headline__tertiary {
    font-size: 0.9rem;
    font-weight: bold;
}

.headline--light {
    color: #dddfd4;
}

.headline--dark {
    color: #173e43;
}