.hero {
    font-family: 'Courier New', Courier, monospace;
    color: #fae596;
    font-size: 4rem;
    font-weight: bold;
}

.hero__text {
    font-family: 'Courier New', Courier, monospace;
    color: #fae596;
    font-size: 3rem;
    font-weight: 100;
}

.hero__img {}