.TileSlider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    margin: 10px;
}

.TileSlider__content{
    display: flex;
    flex-direction: row;
}

.TileSlider-button--prev {
    position: relative;
    opacity: 0.4;
    background: #fae596 url(../../Images/noun_Arrow_8603.png) no-repeat center;
    background-size: 50px 50px;
    border-radius: 5px;
    height: 100px;
    min-width: 50px;
    border: 1px solid #173e43;
}

.TileSlider-button--next {
    position: relative;
    opacity: 0.4;
    background: #fae596 url(../../Images/noun_Arrow_8604.png) no-repeat center;
    background-size: 50px 50px;
    height: 100px;
    min-width: 50px;
    border: 1px solid #173e43;
}

@media screen and (max-width: 768px){
    .TileSlider__content {
        width: auto;
    }

    .TileSlider-button--prev {
        position: absolute;
        left: 0;
    }

    .TileSlider-button--next {
        position: absolute;
    }
}