.LoginForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; /**alignment along the MAIN-AXIS(column)**/
    margin-bottom: 200px;
    background-color: #173e43;
}

.LoginForm input {
    width: 240px;
    height: 30px;
    min-width: 15rem;
    margin: 5px;
    padding: 10px;
    flex: 1;
    background-color: #dddfd4;
    font-size: 17px;
}

.LoginForm input:focus {
    border-color:#00cc66;
}

.LoginForm input:hover {
    border-color:#00cc66;
}
  
.LoginForm button {
    width: 15rem;
    height: 50px;
    margin-top: 1rem;
    border-radius: 4px;
    border-color: green;
    font-size: 20px;
    background-color: #3fb0ac;
    transition: .6s;
    overflow: hidden;
    flex: 1;
}

.LoginForm button:hover {
    background-color: #00cc66;
    color: green;
    cursor: pointer;
}

.LoginForm button:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .LoginForm {
        min-width: 260px;
        min-height: 1000px;
        justify-content: left;
    }

    .LoginForm input {
        width: 15rem;
        height: 30px;
    }

    .LoginForm button {
        height: 50px;
    }
}