.ContentMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dddfd4;
    border: 1px solid #dddfd4;
}

.ContentMenu__buttons {
    margin: 0;
}

.ContentMenu-button--displayTile {
    background: #fae596 url(../../Images/noun_tiles_777826.png) no-repeat center;
    background-size: 40px 40px;
}

.ContentMenu-button--displayList {
    background: #fae596 url(../../Images/noun_List_433943.png) no-repeat center;
    background-size: 40px 40px;
}

.ContentMenu-button--filter {
    background: #fae595 url(../../Images/noun_filters_220951.png);
    background-size: 50px 50px;
}

@media screen and (max-width: 768px){
    .ContentMenu {
        width: 100%;
    }

    .ContentMenu input {
        max-width: 50px;
    }

    .ContentMenu button {
        max-width: 50px;
    }
}

@media screen and (min-width: 769px) {
    .ContentMenu {
        width: 100%;
    }

    .ContentMenu input {
        max-width: 50px;
    }

    .ContentMenu button {
        max-width: 50px;
    }
}