.contentMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dddfd4;
    border: 1px solid #dddfd4;
}

.contentMenu__pill {
    background-color: #fae596;
    border: 1px solid #173e43;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
}

.contentMenu__text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.9rem;
    color: #173e43;
}

.contentMenu__input {
    width: 240px;
    min-width: 15rem;
    min-height: 30px;
    padding: 10px;
    border: 2px solid #173e43;
    border-radius: 50px;
    background-color: #ffffff;
    color: #173e43;
    font-size: 17px;
}

@media screen and (max-width: 768px){
    .contentMenu {
        width: 100%;
    }

    .contentMenu__input {
        max-width: 50px;
        min-width: 10rem;
    }

    .contentMenu__pill {
        max-width: 50px;
    }

}

@media screen and (min-width: 769px) {
    .contentMenu {
        width: 100%;
    }

    .contentMenu__input {
        max-width: 50px;
    }

    .contentMenu__pill {
        max-width: 50px;
    }
}