
@import '../../scss/configuration';

.contentMenu {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
}

@media screen and (max-width: $mq-mobile){
    .contentMenu {
        width: $width-primary;
    }
}

@media screen and (min-width: $mq-tablet) {
    .contentMenu {
        width: $width-primary;
    }
}