.filterSubmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px){
    .filterSubmenu {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1216px){
    .filterSubmenu {
        justify-content: center;
    }
}