@import '../../../scss/spacing';
@import '../../../scss/mediaQueries';

.filterSubmenu {
    flex-wrap: wrap;
}

@media screen and (min-width: $mq-desktop){
    .filterSubmenu {
        margin: 0;
        padding: 0;
        width: $width-primary;
    }
}