.FilterSubmenuActive {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (min-width: 1216px){
    .FilterSubmenuActive {
        justify-content: flex-start;
    }
}