.FavPage {
    width: 60%;
    margin: auto;
    background-color: #dddfd4;
}

.fav_back {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #fae596 url(../../Images/noun_Arrow_8603.png) no-repeat center;
    background-size: 40px 40px;
    margin-top: 15px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .FavPage{
        width: 100%;
    } 
}

@media screen and (min-width: 1024px){
    .FavPage {
        width: 100%;
    }
}

@media screen and (min-width: 1216px) {
    .FavPage {
        width: 60%;
        padding: 5px; 
    }
}