.loginForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; /**alignment along the MAIN-AXIS(column)**/
    margin-bottom: 200px;
    background-color: #173e43;
}

.loginForm__text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.9rem;
    color: #173e43;
}

.loginForm__btn {
    background-color: #3fb0ac;
    border-radius: 5px;
    color: #173e43;
    width: 250px;
    height: 50px;
    margin-top: 1rem;
}

.loginForm__btn:hover {
    background-color: #00cc66;
    cursor: pointer;
}

.loginForm__btn:focus {
    outline: none;
}

@media screen and (min-width: 1216px){
    .loginForm__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

