@import '../../scss/spacing';
@import '../../scss/colors';
@import '../../scss/mediaQueries';

.filter {
    margin-bottom: 50px;
    width: auto;
    border: 2px  $primary-color;
    padding: $padding-primary;
    background-color: $secondary-color;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.filter__headline {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 100px;
}

@media screen and (max-width: $mq-mobile){
    .filter {
        width: 95%;
        margin: $margin-auto;
    }
}

@media screen and (min-width: $mq-desktop){
    .filter {
        width: $width-primary;
    }
}