.Tile {
    border: 2px solid #dddfd4;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #173e43; 
}

.Tile__container {
    max-height: 100px;
}

.Tile__container--meta {
    border-bottom: 1px solid #dddfd4;
}

.Tile__text {
    flex: 2;
    margin-top: 3px;
}

.Tile__h6 {
    flex: 1;
    white-space: pre;
    text-overflow: ellipsis;
    align-self: flex-end;
    padding: 2px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.Tile__text--hiddenoverflow {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .Tile {
        height: 150px;
        width: 300px;
    }
}