.Tile {
    border: 2px solid #dddfd4;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #173e43; 
}

.Tile p {
    flex: 2;
    margin-bottom: 0px;
    margin-top: 0px;
    color:#dddfd4;
}

.Tile h6 {
    white-space: pre;
    text-overflow: ellipsis;
    align-self: flex-end;
    flex: 1;
    padding: 2px;
    color: #dddfd4;
}

.Tile .content {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.Tile button {
    width: 40px;
    height: 40px;
    background: #fae596 url(../../Images/noun_Star_750828.png) no-repeat center;
    background-size: 30px 30px;
    border-radius: 5px;
}

.Tile .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .Tile {
        height: 150px;
        width: 300px;
    }
}