.Navigation {
    background-color: #3fb0ac;
    border-bottom: 2px solid #173e43;
}

.Navigation-button--searches {
    background: #fae595 url("../../Images/noun_diskette_1939628.png");
    background-size: 40px 40px;
}

.Navigation-button--favorite {
    background: #fae595 url("../../Images/noun_Star_750828.png");
    background-size: 40px 40px;
}

.Navigation-button--logout {
    background: #fae595 url("../../Images/noun_logout_1350695.png");
    background-size: 40px 40px;
}

@media screen and (min-width: 1024px){
    .Navigation__content {
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .Navigation__content {
        width: 60%;
    }

    .Navigation-button--searches {
        background: #fae595 url("../../Images/noun_diskette_1939628.png");
        background-size: 40px 40px;
    }
    
    .Navigation-button--favorite {
        background: #fae595 url("../../Images/noun_Star_750828.png");
        background-size: 40px 40px;
    }
    
    .Navigation-button--logout {
        background: #fae595 url("../../Images/noun_logout_1350695.png");
        background-size: 40px 40px;
    }
}
