.Navigation {
    background-color: #3fb0ac;
    border-bottom: 2px solid #173e43;
}

.Navigation-button--searches {
    background: #fae595 url("../../Images/noun_diskette_1939628.png");
    background-size: 40px 40px;
}

.Navigation-button--logout {
    background: #fae595 url("../../Images/noun_logout_1350695.png");
    background-size: 40px 40px;
}

@media screen and (max-width: 768px){
    .Navigation__content {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 769px){
    .Navigation__content {
        width: 80%;
        margin: auto;
    }

    .Navigation-button--searches {
        background: #fae595 url("../../Images/noun_diskette_1939628.png");
        background-size: 40px 40px;
    }
    
    .Navigation-button--logout {
        background: #fae595 url("../../Images/noun_logout_1350695.png");
        background-size: 40px 40px;
    }
}

@media screen and (min-width: 1408px){
    .Navigation__content {
        width: 70%;
    }
}
