.ContentViewExpand {
    height: 400px;
    background-color: #173e43;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.ContentViewExpand .title-fav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.ContentViewExpand .date-agency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ContentViewExpand .author-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ContentViewExpand .detail_title {
    justify-self: left;
    color: #dddfd4;
    font-size: 25px;
}

.ContentViewExpand .detail_date {
    color: #dddfd4;
    justify-self: start;
}

.ContentViewExpand .detail_agency {
    color: #dddfd4;
}

.ContentViewExpand .detail_fav {
    background: #fae596 url(../../Images/noun_Star_750828.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-self: end;
    margin-top: 10px;
}

.ContentViewExpand .detail_img {
    object-fit: cover;
    width: 100%;
    align-self: center;
    max-height: 200px;
}

.ContentViewExpand .detail_text {
    color: #dddfd4;
    line-height: 1.5;
    padding: 5px;
    border-left: 2px solid #fae596;
}

.ContentViewExpand .detail_author {
    color: #dddfd4;
}

.ContentViewExpand .detail_tags {
    justify-self: left;
    color: #dddfd4;
}

@media screen and (max-width: 768px){
    .ContentViewExpand {
        padding: 3%;
        margin-top: 0px;
    }

    .ContentViewExpand .detail_text {
        text-align: justify;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .ContentViewExpand {
        padding: 3%;
        margin-top: 0px;
    }

}

@media screen and (min-width: 1216px) {
    .ContentViewExpand {
        width: 89%;
        margin: auto;
        padding: 5px; 
    }
}
