.FilterSubmenuTile {
    border: 1px solid #dddfd4;
    width: 200px;
    height: 100px;
    overflow: hidden;
    background-color: #173e43;
}

.FilterSubmenuTile p {
    color: #dddfd4;
    text-align: center;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .FilterSubmenuTile {
        width: 100%;
    }
}

@media screen and (min-width:1216px) {
    .FilterSubmenuTile {
        width: 250px;
        height: 150px;
    }
}