.ListPageFilterActive {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddfd4;
    padding: 5px;
}

.ListPageFilterActive h3 {
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 5%;
}

.active-filter-settings {
    margin-left: 5%;
}

.auto-reload-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 5%;
}

.toggle-label {
    margin-left: 5px;
}

.auto-reload-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b30000;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #dddfd4;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #009900;
}

input:focus + .toggle-slider:before {
    box-shadow: 0 0 1px #173e43;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media screen and (max-width: 768px) {
    .ListPageFilterActive {
        width: 100%;
        padding: 0px; 
    }

    .ListPageFilterActive h3 {
        margin-top: 100px;
        margin-bottom: 5px;
        margin-left: 13%;
    }
}

@media screen and (min-width: 1024px) {
    .ListPageFilterActive {
        width: 100%;
        padding: 0px; 
    }
}

@media screen and (min-width: 1216px) {
    .ListPageFilterActive {
        width: 60%;
        padding: 5px; 
    }
}

