.FavTile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    margin: 15px;
    padding: 5px;
    background-color: #173e43;
    color: #173e43;
}

.FavTile button {
    height: 100%;
    width: auto;
    min-width: 50px;
    background-color: #173e43;
    color: #fae596;
    background: #fae596 url(../Images/noun_abort_1258168.png) no-repeat center;
    background-size: 50px 50px;
}

.FavTile h5 {
    margin: 0px;
    color: #dddfd4;
}

.Fav_preview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #dddfd4;
}

.FavContent {
        width: 1%;
        flex-grow: 1;
}
