@import '../../scss/configuration';

.listPageSearches {
    margin-left: auto;
    margin-right: auto;
}

.listPageSearches .menu {
    padding: $padding-primary;
    background-color: $secondary-color;
}

.listPageSearches .searchresult {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap; 
    background-color: $secondary-color;
}

@media screen and (max-width: $mq-mobile){
    .listPageSearches {
        width: 100%;
    }
}

@media screen and (min-width: $mq-tablet){
    .listPageSearches {
        width: 80%;
    }
}

@media screen and (min-width: $mq-widescreen){
    .listPageSearches {
        width: 70%;
    }

}