@import '../../scss/_spacing.scss';
@import '../../scss/colors';

.listPageSearches {
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

.listPageSearches .menu {
    padding: $padding-primary;
    background-color: $secondary-color;
}

.listPageSearches .searchresult {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap; 
    background-color: $secondary-color;
}

@media screen and (max-width: 768px){
    .listPageSearches {
        width: 100%;
    }
}

@media screen and (min-width: 769px){
    .listPageSearches {
        width: 80%;
    }
}

@media screen and (min-width: 1408px){
    .listPageSearches {
        width: 70%;
    }

}