.TileSlider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    overflow-x: scroll
}

.TileSlider__content {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .TileSlider__content {
        width: auto;
    }
}