.FilterSubmenuTile {
    border: 1px solid #dddfd4;
    width: 200px;
    height: 100px;
    overflow: hidden;
    background-color: #173e43;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FilterSubmenuTile p {
    color: #dddfd4;
    text-align: center;
    font-size: 22px;
}

.FilterSubmenuTile .tile-unchecked {
    width: 30px;
    height: 30px;
    background: #dddfd4;
    background-size: 30px 30px;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .FilterSubmenuTile {
        width: 100%;
    }
}

@media screen and (min-width:1216px) {
    .FilterSubmenuTile {
        width: 250px;
        height: 150px;
    }
}