.DetailView {
    position: absolute;
    top: 46px;
    left: 20%;
    right: 20%;
    width: auto;
    z-index: 99999;
    background-color: #173e43;
    border: 1px solid #dddfd4;
    display: grid;
    grid-template-columns: 25% 20% auto 20% 5% 25%;
    grid-template-rows: auto;
    grid-gap: 5px;
    justify-items: center;
    grid-template-areas:
        ". fav . . back ."
        ". title title title title ."
        ". date . . agency ."
        ". img img img img ."
        ". article article article article ."
        ". author . . . .";
}

.DetailView-button--back {
    grid-area: back;
    justify-self: end;
    width: 50px;
    height: 50px;
    background: #fae596 url(../../Images/noun_Arrow_8603.png) no-repeat center;
    background-size: 40px 40px;
    border-radius: 50px;
}

.DetailView__title {
    grid-area: title;
    justify-self: left;
    color: #dddfd4;
}

.DetailView__date {
    grid-area: date;
    color: #dddfd4;
    justify-self: start;
}

.DetailView__agency {
    grid-area: agency;
    color: #dddfd4;
}

.DetailView-button--favorite {
    grid-area: fav;
    background: #fae596 url(../../Images/noun_Star_750828.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-self: start;
}

.DetailView__img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    align-self: center;
    max-height: 200px;
}

.DetailView__text {
    grid-area: article;
    color: #dddfd4;
    line-height: 1.5;
    padding: 5px;
    border-left: 2px solid #fae596;
}

.DetailView__author {
    grid-area: author;
    color: #dddfd4;
    margin-left: 15px;
    justify-self: left;
}

@media screen and (max-width: 768px){
    .DetailView {
        width: 98%;
        left: 0;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "date date agency agency"
        "img img img img"
        "article article article article"
        ". . . .";
        grid-gap: 0px;
        padding: 5px;
        margin: auto;
    }

    .DetailView__text {
        text-align: justify;
        width: 100%;
        padding: 5px;
    }

    .DetailView__img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 769px){
    .DetailView {
        grid-template-columns: 30% auto 20% 5%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "date date agency ."
        "img img img img"
        "article article article article"
        "author author . .";
        grid-gap: 0px;
        padding: 5px;
        left: 10%;
        right: 10%;
    }

    .DetailView__text {
        text-align: justify;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .DetailView {
        grid-template-columns: 30% auto 20% 5%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "date . agency ."
        "img img img img"
        "article article article article"
        "author author . .";
        grid-gap: 0px;
        padding: 5px;
        margin-top: 0px;
        top: 46px;
        width: 80%;
    }

}

@media screen and (min-width: 1216px) {
    .DetailView {
        padding: 5px; 
        margin: auto;
        width: 80%;
    }
}

@media screen and (min-width: 1408px) {
    .DetailView {
        width: 70%;
    }
}
