.DetailView {
    position: absolute;
    top: 46px;
    left: 20%;
    right: 20%;
    width: auto;
    z-index: 99999;
    background-color: #173e43;
    border: 1px solid #dddfd4;
    display: grid;
    grid-template-columns: 25% 20% auto 20% 5% 25%;
    grid-template-rows: auto;
    grid-gap: 5px;
    justify-items: center;
    grid-template-areas:
        ". fav . . back ."
        ". title title title title ."
        ". date . . agency ."
        ". img img img img ."
        ". article article article article ."
        ". author . . . .";
}

.DetailView-button--back {
    grid-area: back;
    justify-self: end;
}

.DetailView__title {
    font-family: 'Courier New', Courier, monospace;
    color: #fae596;
    font-size: 4rem;
    font-weight: bold;
    grid-area: title;
    justify-self: left;
}

.DetailView__date {
    grid-area: date;
    justify-self: end;
}

.DetailView__agency {
    grid-area: agency;
    justify-self: start;
}

.DetailView-button--favorite {
    grid-area: fav;
    justify-self: start;
}

.DetailView__img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    align-self: center;
    max-height: 200px;
}

.DetailView__text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: #dddfd4;
    grid-area: article;
    line-height: 1.5;
    padding: 5px;
    border-left: 2px solid #fae596;
}

.DetailView__headline {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #dddfd4;
}

.DetailView__pill {
    background-color: #fae596;
    border: 1px solid #173e43;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
}

@media screen and (max-width: 768px){
    .DetailView {
        width: 98%;
        left: 0;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "agency agency date date"
        "img img img img"
        "article article article article"
        ". . . .";
        grid-gap: 0px;
        padding: 5px;
        margin: auto;
    }

    .DetailView__title {
        font-size: 2rem;
    }

    .DetailView__text {
        text-align: justify;
        width: 100%;
        padding: 5px;
    }

    .DetailView__img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 769px){
    .DetailView {
        grid-template-columns: 30% auto 20% 5%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "agency . date date"
        "img img img img"
        "article article article article"
        "author author . .";
        grid-gap: 0px;
        padding: 5px;
        left: 10%;
        right: 10%;
    }

    .DetailView__text {
        text-align: justify;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .DetailView {
        grid-template-columns: 30% auto 20% 5%;
        grid-template-areas:
        "fav . . back "
        "title title title title"
        "agency . date ."
        "img img img img"
        "article article article article"
        "author author . .";
        grid-gap: 0px;
        padding: 5px;
        margin-top: 0px;
        top: 46px;
        width: 80%;
    }

}

@media screen and (min-width: 1216px) {
    .DetailView {
        padding: 5px; 
        margin: auto;
        width: 80%;
    }
}

@media screen and (min-width: 1408px) {
    .DetailView {
        width: 70%;
    }
}
