@import '../colors';

.btn {
    background-color: $tertiary-color;
    border-radius: 5px;
    color: $primary-color;

    &__primary {
        width: 250px;
        height: 50px;
        margin-top: 1rem;
    }
    
    &__primary:hover {
        background-color: $button-col-bg;
        cursor: pointer;
    }
    
    &__primary:focus {
        outline: none;
    }
}



