@import '../colors';
@import '../font';

.text {
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__primary {
        @extend .text;
        font-size: $text-primary;
    }
    
    &__secondary {
        @extend .text;
        font-size: $text-secondary;
    }

    &__special {
        @extend .text;
        font-size: $text-special;
        font-weight: bold;
    }
    
    &--light {
        @extend .text;
        color: $text-color;
    }
    
    &--dark {
        @extend .text;
        color: $text-color;
    }
}