.SavedSearchTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 200px;
    margin: 15px;
    background-color: #173e43;
    padding: 5px;
}

.SearchContent {
    width: 100%;
    padding: 5px;
}

.SavedSearchTile button {
    height: 100%;
    width: auto;
    min-width: 50px;
}

.SavedSearchTile h5 {
    margin: 0px;
    color: #dddfd4;
}

.DeleteFilter {
    background: #fae596 url(../../Images/noun_abort_1258168.png) no-repeat center;
    background-size: 50px 50px;
}

.SavedSearchTile p {
    color: #dddfd4;
}