.Filter {
    margin-bottom: 50px;
    width: 80%;
    border: 2px  #fae596 outset;
    padding: 3px;
}

.Filter h4 {
    margin-bottom: 5px;
    margin-top: 100px;
    color: #fae596;
}

.Filter button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.Filter_Buttons_Menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Filter_button_update {
    background: #fae596 url(../Images/noun_checkmark_67952.png);
    background-size: 50px 50px;
}

.Filter_button_save {
    background: #fae596 url(../Images/noun_diskette_1939628.png);
    background-size: 50px 50px;
}