$primary-color: #a88e1e;
$secondary-color: #f17105;
$tertiary-color: #bddcf9;
$interaction-color: #9abed2;

$input-color: #ffffff;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: #00cc66;

$tile-col-bg: $primary-color;