
$primary-color: #173e43;
$secondary-color: #dddfd4;
$tertiary-color: #3fb0ac;
$interaction-color: #fae596;

$primary-color: #6a6d70;
$secondary-color: #908f99;
$tertiary-color: #bddcf9;
$interaction-color: #9abed2;