$primary-color: #eeeeee;
$secondary-color: #dddddd;
$tertiary-color: #777777;
$quaternary-color: #999999;
$interaction-color: #ffffee;
$text-color: #333333;

$input-color: #ffffff;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$bar-col-bg: $tertiary-color;