$primary-color: #1c6028;
$secondary-color: #4d963c;
$tertiary-color: #aaaaaa;
$interaction-color: #96ec5f;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$tile-col-bg: $primary-color;

$bar-col-bg: $tertiary-color;