$primary-color: #d2e8f1;
$secondary-color: #666666;
$tertiary-color: #828282;
$quaternary-color: #9BD6F2;
$interaction-color: #6189d8;
$text-color: #333333;

$input-color: #ffffff;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$bar-col-bg: $tertiary-color;