$primary-color: #5b5b5b;
$secondary-color: #419fe2;
$tertiary-color: #afd7ff;
$interaction-color: #ffef77;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$tile-col-bg: $primary-color;

$bar-col-bg: $tertiary-color;