$primary-color: #3d2b1f;
$secondary-color: #6e3229;
$tertiary-color: #ce3f3c;
$interaction-color: #ff4646;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$tile-col-bg: $primary-color;

$bar-col-bg: $tertiary-color;