$primary-color: #333333;
$secondary-color: #c66000;
$tertiary-color: #d3d3d3;
$interaction-color: #ffcc00;

$input-color: #ffffff;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$button-col-bg: $interaction-color;

$tile-col-bg: $primary-color;

$bar-col-bg: $tertiary-color;