@import '../../../../scss/colors';
@import '../../../../scss/mediaQueries';

.filterSubmenuTile {
    border: 1px solid $secondary-color;
    width: 200px;
    height: 100px;
    overflow: hidden;
    background-color: $tile-col-bg;
}

.filterSubmenuTile__label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 30%;
}

.filterSubmenuTile__content {
    width: 70%;
    position: relative;
    top: -10px;
}

.filterSubmenuTile__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filterSubmenuTile__checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: $secondary-color;
    border-radius: 50px;
}

.filterSubmenuTile__label input:checked ~ .filterSubmenuTile__checkmark {
    background: $interaction-color;
}

.filterSubmenuTile__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filterSubmenuTile__label input:checked ~ .filterSubmenuTile__checkmark:after {
    display: block;
}

.filterSubmenuTile__label .filterSubmenuTile__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $primary-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: $mq-mobile) {
    .filterSubmenuTile {
        width: 200px;
        height: 100px;
    }

    .filterSubmenuTile__checkmark {
        top: 10px;
        left: 10px;
    }

    .filterSubmenuTile img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: $mq-tablet){
    .filterSubmenuTile__checkmark {
        top: 10px;
        left: 10px;
    }
}

@media screen and (min-width: $mq-desktop) {
    .filterSubmenuTile {
        width: 300px;
        height: 150px;
    }
}