body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #173e43;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App .content {
  min-height:500px;
}

.App a {
  color: #173e43;
  text-decoration: none;
}

.App button {
  border: 1px solid #173e43;
}

p {
  color: #173e43;
}

h1, h2, h3, h4 {
  color: #173e43;
}


@media screen and (max-width: 768px) { /**Mobile**/
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

text {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
}

@media screen and (min-width: 769px) { /**Tablet**/

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 { 
  font-size: 1rem;
}

text {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}
}

@media screen and (min-width: 1024px) { /**Desktop**/}

@media screen and (min-width: 1216px) { /**Widescreen**/}

@media screen and (min-width: 1408px) { /**Fullhd**/
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5.5rem;
  }

  h3 {
    font-size: 5rem;
  }

  h4 {
    font-size: 4rem;
  }

  h5 {
    font-size: rem;
  }

  h6 {
    font-size: 1rem;
  }
}

