$primary-color: #173e43;
$secondary-color: #dddfd4;
$tertiary-color: #3fb0ac;
$interaction-color: #fae596;

$input-color: #ffffff;

$pill-col-bg: #fae596;
$pill-col-border: #173e43;

$button-col-bg: #00cc66;


