@import '../../../scss/configuration';

.favTile {
    height: 200px;
    margin: 15px;
    padding: 5px;
    background-color: $tile-col-bg;
}

.favTile__headline {
    margin: 0px;
    color: $secondary-color;
}

.favTile__content {
    width: 1%;
    flex-grow: 1;
}
