.FavTile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    margin: 15px;
    padding: 5px;
    background-color: #173e43;
    color: #173e43;
}

.FavTile h5 {
    margin: 0px;
    color: #dddfd4;
}

.Fav_preview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #dddfd4;
}

.FavContent {
        width: 1%;
        flex-grow: 1;
}
