.TileSlider {

}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-content{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    overflow-x: auto;
    white-space: nowrap;
}

.prev {
    background-color: #3fb0ac;
}

.next {
    background-color: #3fb0ac;
}

@media screen and (max-width: 768px){
    .slider-content {
        max-width: 80%;
    }
}