.FilterMenu-button--back {
    background: #fae596 url(../../Images/noun_Arrow_8603.png) no-repeat center;
    background-size: 40px 40px;       
}

.FilterMenu-button--update {
    background: #fae596 url(../../Images/noun_checkmark_67952.png);
    background-size: 50px 50px;
}

.FilterMenu-button--save {
    background: #fae596 url(../../Images/noun_diskette_1939628.png);
    background-size: 50px 50px;
}