.ContentView {
    margin: 5px;
    display: grid;
    grid-template-columns: 20% auto 20% 5%;
    grid-template-rows: auto;
    grid-gap: 5px;
    justify-items: center;
    grid-template-areas:
        "title title title title"
        "date . fav fav"
        "img img img img"
        "article article article article"
        "author . . agency"
        "tags tags tags tags";
}

.detail_title {
    grid-area: title;
    justify-self: left;
    color: #dddfd4;
}

.detail_date {
    grid-area: date;
    color: #dddfd4;
}

.detail_agency {
    grid-area: agency;
    color: #dddfd4;
}

.detail_fav {
    grid-area: fav;
    background: #fae596 url(../Images/noun_Star_750828.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.detail_img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    align-self: center;
    max-height: 200px;
}

.detail_text {
    grid-area: article;
    color: #dddfd4;
}

.detail_author {
    grid-area: author;
    color: #dddfd4;
    margin-left: 15px;
}

.detail_tags {
    grid-area: tags;
    justify-self: left;
    color: #dddfd4;
    
}

@media screen and (max-width: 768px){
    .ContentView {
        grid-template-columns: 20% auto 20% 5%;
        grid-template-areas:
        "title title title title"
        "date . fav ."
        "img img img img"
        "article article article article"
        "author . agency ."
        "tags tags tags tags";
    }
}
