.button--large {
    width: 250px;
    min-height: 50px;
    margin-top: 1rem;
    border-radius: 5px;
}

.button--large:hover {
    background-color: #00cc66;
    color: green;
    cursor: pointer;
}

.button--large:focus {
    outline: none;
}

.button--primary {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
    background-color: #fae596;
    border: 1px solid #173e43;
}

.button--small {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 2px;
    border: 1px solid #173e43;
}

.button--favorite {
    background: #fae595 url("../../Images/noun_Star_750828.png");
    background-size: 40px 40px;
}